body{
    padding: 0;
    height: 100vh;
    /* box-sizing: border-box; */
    background-color: #F6F8FB;
    font-family:  "Open Sans", sans-serif;
    margin: 0;
}
.Inicio{
    display: flex;
    align-items: self-end;
    justify-content: space-between;
    width: 100%;
    height: 10em;
    background: linear-gradient(90deg,rgba(33, 130, 228, 1) 69%, rgba(44, 201, 130, 1) 88%);
    color: white;
    flex-direction: row;
}
.remedio{
    display: flex;
    flex-direction: row;
    padding-left: 5em;
    gap: 20px;
}
.i{
    align-self: center;
    font-size: 30px;
    padding: 10px;
    border-radius: 10em;
    background-color: #1173D4;
}
.Voltar{
    flex-direction: row;
    background: linear-gradient(90deg,rgba(33, 130, 228, 1) 69%, rgba(44, 201, 130, 1) 88%);
    padding-left: 10em;
    padding-top: 20px;
    background-color: transparent;
    border-style: none;
    color: #F6F8FB;
    cursor: pointer;
}
.title{
    font-size: 35px;
    font-weight: bold;
}
.formato-medicamento{
    position: relative;
    background-color: white;
    border-radius: 20px;
    margin-top: 4em;
    padding: 5px 3em;
    /* box-shadow: rgba(19, 38, 46, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.cadaCategoria{
    background-color: white;
    padding: 40px;
    border-radius: 10%;
    border-color: gray;
   box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.cadaCategoria:hover{
    transform: translateY(-0.55em);
    cursor: pointer;
}
.medicamentos{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
    gap: 30px;
    flex-wrap: wrap;
}
.topo{
    display: flex;
    gap: 10px;
}
.topo p{
    font-weight: bold;
    font-size: 20px;
}
.aviso{
    position: relative;
    background-color: #F7F0F2;
    border-color: red;
    border-radius: 20px;
    margin-top: 4em;
    padding: 5px 3em;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    color: red;
}
.container{
    margin: 4em 10em ;
}
.button{
    display: flex;
    position: relative;
    width: 100%;
    align-self: left;
}
button{
    display: flex;
    background-color: #F6F8FB;
    color: black;
    justify-self: left;
    text-align: left;
    font-family:  "Open Sans", sans-serif;
    font-size: 15px;
    padding: 19px 17px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    width: 300%;
    justify-content: center;
}
a{
    text-decoration: none;
    display: flex;
    position: relative;
    width: 100%;
    align-self: left;
}
button:hover{
   background-color: #1173D4;
}
.cinza{
    color: gray;
}