body{
    padding: 0;
    height: 100vh;
    /* box-sizing: border-box; */
    background-color: #F6F8FB;
    font-family:  "Open Sans", sans-serif;
    margin: 0;
}
.Inicio{
    display: flex;
    align-items: self-end;
    justify-content: space-between;
    width: 100%;
    height: 10em;
    background: linear-gradient(90deg,rgba(33, 130, 228, 1) 69%, rgba(44, 201, 130, 1) 88%);
    color: white;
    flex-direction: row;
}
.Voltar{
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg,rgba(33, 130, 228, 1) 69%, rgba(44, 201, 130, 1) 88%);
    padding-left: 10em;
    padding-top: 20px;
    justify-content: space-around;
    background-color: transparent;
    border-style: none;
    color: #F6F8FB;
    cursor: pointer;
}
.title{
    font-size: 35px;
    font-weight: bold;
}
.remedio{
    flex-direction: column;
    padding-left: 10em;
}
.formato-medicamento{
    position: relative;
    background-color: white;
    display: block;
    border-radius: 20px;
    margin-top: 4em;
    padding: 5px 3em;
    margin-left: 10em;
   box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.formato-medicamento2{
    position: relative;
    background-color: white;
    border-radius: 20px;
    margin-top: 4em;
    padding: 5px ;
    margin:  10em;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 100%;
}
.container{
    display: flex;

}
.titulo{
    font-size: 25px;
    font-weight: bold;
    align-self: center;
    justify-self: center;
}
.topo{
    display: flex;
}
.titulo2{
    font-size: 16px;
    font-weight: bold;
    gap: 5px;
    width: 100%;
}
.mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.mid i{
    font-size: 25px;
    color: gray;
}
.cinza{
    color: gray;
}
.parte{
    display: flex;
    align-self: flex-start ;
    flex-direction: column;
    background-color: gray;
    width: 100%;
    gap: 10px;
}
.alinhamento{
    display: flex;
    flex-direction: row;
}
.categoria{
    font-weight: bold;
    padding: 10px ;
}
.botaoEntrar{
    background-color: #2DD272;
    padding: 10px 17px;
    color: white;
    justify-self: flex-end;
    gap: 5px;
    font-size: 15px;
    padding: 19px 17px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}
.voltar{
    justify-self:start ;
}
.Sair{
    display: flex;
    justify-self:flex-end;
}
.conteudo{
    justify-self: center;
    align-self: center;
}
.botaoEntrar2{
    background-color: #2182E4;
    padding: 10px 17px;
    color: white;
    justify-self: flex-end;
    gap: 5px;
    font-size: 15px;
    padding: 15px 17px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    justify-self: center;
}